@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Oswald&display=swap');
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: aeriel;
	background: whitesmoke;
}
/*On Scrolled*/
.toggleBackground{
	background: #1c1c1c;
	padding: 10px;
}
/*Static menu*/
.static-menu{
	height:100vh;
	width:50vw;
	text-align: center;
	background: rgba(28,28,28,0.8);
	position:fixed;
	right:0;
	transition: 0.5s;
    padding-top: 20%;
}
.static-ul{
	list-style: none;
	font-size: 24px;
	color: white
}
.static-ul li{
	margin-bottom:30px;
}
.static-ul a{
	text-decoration: none;
	color: #fff;
	transition: 0.45s ease-in-out;
	font-family: Inconsolata , monospace;
}

/*Menu Icon*/
.container {
  display: inline-block;
  cursor: pointer;
  margin-right:30px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Navigation Bar */
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width:100%;
	padding: 10px;
}


.logo{
	margin-left: 40px;

}

.logo h2{
	font-size: 40px;
	font-family: Oswald, sans-serif;
	color:#fff;
}

.logo h2 span{
	color: crimson;
}

.menu ul{
	display: flex;
	list-style: none;
	margin-right:40px;
}

.menu ul li{
	margin-left:25px;
}

.menu ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	transition: 0.45s ease-in-out;
	font-family: Inconsolata , monospace;
}

.menu ul li a:hover , .static-ul li a:hover{
	color:crimson;
	font-weight: bold;
}

 /* Home */
 #home{
 	background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('../img/desk.jpg');
 	width: 100%;
 	height: 100vh;
 	background-size: cover;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	text-align: center;
	color:#fff;
 }

.heading{
	font-size: 2.5rem;
	border-bottom: 2px solid crimson;
	margin:10px;
	font-family: 'Bebas Neue',cursive;
	letter-spacing: 5px;
}
.sub-heading{
	font-size:1.3rem;
	color: rgba(255,255,255,1 );
	margin:5px;
}
.para{
	font-size: 18px;
	color: rgba(255,255,255,1 );
	line-height: 1.6;
}
.btn{
	color:#fff;
	background:crimson;
	border:1px solid #dc143c;
	font-size:18px;
	font-weight:600;
	margin:10px;
	padding:5px 10px;
	border-radius:5px;
	transition:0.6s ease;
}

.btn:hover{
	cursor: pointer;
	background: #fff;
	color:#dc143c;
}

 /*Services*/
 #services{
 	height:100%;
 	width:100%;
 	padding: 10% 0;
 }

.section-heading{
	text-align: center;
	font-family: "Bebas Neue",cursive;
	font-size: 40px;
	margin: 10px;
	color: #1c1c1c;
}
.service-grid{
	padding: 0 50px;
	display: grid;
	grid-gap:20px ;
	grid-template-columns: repeat(auto-fill,minmax(400px,1fr));

}
.ser{
	background: #fff;
	text-align: center;
	height: 300px;
	border:1px solid #dc143c;
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.service-heading{
	color: #dc143c;
	margin-top: 10px;
}
.service-image{
	/*border: 1px solid grey;*/
	height:60%;
	width:60%;
}
.service-text{
	font-weight: 500;
	text-align:center;
	margin:10px;

}
.ser:hover{
	background: #dc143c;
	color:#fff;
}
.ser:hover .service-heading{
color: #fff;
}
/*About us*/
#about-us{
	padding: 10% 0;
	height:75vh;
	text-align: center;
	display: flex;
	justify-content: center;
}
#about-us-text{
	font-size: 1em;
	margin: 20px;
}
.about-us-container{
	width:60%;
	height:auto;
	padding: 5% 10%;
	background: #fff;
	box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
	border:2px solid #dc143c;
	
}

/*Media-Queries*/
@media screen and (max-width:520px){
	#services{
		padding-top: 20%;
	}
	.logo{
		margin-left: 20px;

	}
	.logo h2{
		font-size:28px;
	}
	.ser{
		height:400px;
	}

	.service-grid{
		grid-template-columns: 1fr;
		padding: 0 10px;
	}
	.service-text{
		margin:0 5px;
	}
	.static-menu{
		padding-top:25%;
	}
	#about-us{
		padding: 25% 10px;
	}
	.about-us-container{
		width:100%;
		height:auto;
		padding:5% 10px;
	}
	#about-us-text{
		margin: 0;
		font-size:1em;
	}
}

@media screen and (min-width:800px){
	.container{
		display: none;
	}
	.static-menu{
		display: none;
	}
}
@media screen and (max-width:799px){
	.menu{
		display: none;
	}
}